*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23252C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 0;
}
#Cat_img{
  width: 700px;
  height: 430px;
  min-width: 300px;
  border-radius: 20px;
  
}
.Container {
  
  background-color: #1A1B21;
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px 0px 10px;  
  margin: 50px 600px;
}
header{
  margin: 20px auto;
}
header h1{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 900;
}
#job-title{
  margin: 20px;
  font-size: 25px;
  color: rgb(250, 201, 67);
}
#userweb{
  font-size: 18px;
  margin-bottom: 20px;
}
.Button_container{
  
}
button{
  margin: 0px 20px;
  width: 200px;
  font-size: 25px;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;

}
.Linkedin{
  background-color: #5093E2;
  color: white;
}
button:hover{
  cursor: pointer;
}

main h1{
  margin: 60px 20px 30px 0px;
  font-size: 35px;
}
main{
  font-size: 22px;
  font-weight: 400;
  margin-left: 10px;
}
main p{
  margin-left: 10px;
  text-align: left;
  color: #cececf;
  margin-bottom: 50px;
}
footer{
  margin: 0px;
  padding: 30px;
  background-color: #161619;
  
  border-radius: 10px;
}
span{
  margin: 0px 30px;
  
}
footer a{
  list-style: none;
  font-size: 30px;
  color: #cececf;
}
.Button_container a{
  text-decoration: none;
  color: black;
  
}
.Button_container #a1{
  text-decoration: none;
  color: white;
  
  
}

@media screen and (max-width: 800px) {
  body {
  }
  
  .Container {
    margin: 20px; 
  }

  #Cat_img {
    width: 100%; 
    height: auto; 
    border-radius: 0; 
  }

  header h1 {
    font-size: 30px; 
  }

  #job-title {
    font-size: 20px; 
  }

  #userweb {
    font-size: 16px; 
  }

  .Button_container {
    flex-direction: column; 
    margin-top: 20px;
  }

  button {
    margin: 10px 0; 
    width: 100%; 
  }

  main h1 {
    font-size: 30px; 
    margin: 30px 0 20px 0; 
  }

  main {
    font-size: 18px; 
    
  }

  main p {
    margin: 0; 
    text-align: left;
    color: #cececf;
    margin-bottom: 30px; 
  }

  footer {
    padding: 20px; 
  }

  span {
    margin: 0 15px; 
  }

  footer a {
    font-size: 24px; 
  }

  .Button_container a,
  .Button_container #a1 {
    font-size: 18px; 
  }
}
